@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace MoveM8s.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="MoveM8s.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />

   

    <script>
        function initialize(lat, lng) {
            var latlng = new google.maps.LatLng(lat, lng);
            var options = {
                zoom: 14, center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map"), options);

            new google.maps.Marker({
                position: latlng,
                map: map,
            });
        }

        function update(lat, lng) {
            var latlng = new google.maps.LatLng(lat, lng);

  // Retrieve the map object
  const map = new google.maps.Map(document.getElementById("map"));

  // Center the map at the new coordinates
            map.setCenter(latlng);

  // Update the marker position
  const marker = map.getMarker();
  if (marker) {
                marker.setPosition(latlng);
  }
};

        }
    </script>
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYpHGMt0tSBmWim6WUv_tJnfZuJYE-m3I&v=3"></script>
    
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
