@page "/shuffle"
@using MoveM8s.Data.Models;
@using MoveM8s.Data.Services;

@inject ActivityService ActivityService

<h3>Shuffle</h3>

<div>
    <div>Tryck på knappen för att få fler eminenta förslag</div>
    <button class="btn btn-primary btn-green" @onclick="ShuffleActivities">Click me</button>
    @if (_suggestedActivity != null)
    {
        <ActivityTemplate SuggestedActivity=_suggestedActivity />
    }

</div>
<div class="checkboxes">
    <label>
        <input type="checkbox" @bind="needsAccessability" /> Tillgänglighetsanpassat
    </label>
    <label>
        <input type="checkbox" @bind="isChildFriendly" /> Barnanpassat
    </label>
</div>

@code {
    private string suggestion = "Click shuffle for suggestion";
    private Activity _suggestedActivity = null;
    private IEnumerable<Activity> _activities = new List<Activity>();
    private bool needsAccessability;
    private bool isChildFriendly;


    protected override async Task OnInitializedAsync()
    {
        _activities = await ActivityService.GetActivitiesAsync();
    }

    private void ShuffleActivities()
    {
        Random R = new Random();
        int someRandomNumber = R.Next(0, _activities.Count() - 1);

        _suggestedActivity = _activities.ElementAt(someRandomNumber);

    }
}
