@page "/shuffle"
@using MoveM8s.Data.Models;
@using MoveM8s.Data.Services;

@inject ActivityService ActivityService
@inject PlaygroundService PlaygroundService

<h3>Shuffle</h3>

<div>
    <div>@suggestion</div>
    <button class="btn btn-primary" @onclick="ShuffleActivities">Click me</button>
    @if (_suggestedActivity != null)
    {
        <div>
            <h4>@_suggestedActivity.Properties.Name</h4>
            <p>@_suggestedActivity.Properties.Description</p>
            <p>Plats: @_suggestedActivity.Properties.VisitUrl</p>
        </div>
    }
</div>

@code {
    private string suggestion = "Click shuffle for suggestion";
    private Activity _suggestedActivity = null;
    private List<Activity> _activities = new List<Activity>();

    protected override async Task OnInitializedAsync()
    {
        var activities = await ActivityService.GetActivities();
        var playgroundActivities = await PlaygroundService.GetPlaygroundActivitiesAsync();

        _activities = AddActivities(activities, playgroundActivities);
    }

    private void ShuffleActivities()
    {
        Random R = new Random();
        int someRandomNumber = R.Next(0, _activities.Count() - 1);

        _suggestedActivity = _activities.ElementAt(someRandomNumber);
    }

    private List<Activity> AddActivities(ActivityCollection activityList1, ActivityCollection activityList2)
    {
        foreach (var activity in activityList1.Activites)
        {
            _activities.Add(activity);
        }

        foreach (var activity in activityList2.Activites)
        {
            _activities.Add(activity);
        }

        return _activities;
    }
}
